.header {
  background-color: lightblue;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
}
.container {
  background-color: powderblue;
}
.about {
  background-color: lightblue;
}
.contact {
  font-size: 30px;
  text-align: center;
}

.page {
  font-family: sans-serif;
  font-style: italic;
}
